.burger-menu-overlay {
    position: fixed;
    inset: 0; 
    background: gray;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

}

.burger-menu-content {
   width: 100%;
   height: 100%;
  

}

.burger-nav {
     display: flex;
    flex-direction: column;
    color: red ;
    font-size: 24px;
}

.burger-nav a {
    color: red ;
}